# Python build artifacts
.venv/
build/
dist/
*.egg
*.egg-info/
__pycache__/

# BioStructBenchmark output
results/
*output*/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*~
.DS_Store
